#filter_modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.filter_modal_content{
    width: 500px;
    background-color: rgb(15, 15, 15);
    margin: auto;
    border-radius: 15px;
}

.block_search img,
.block_search input{
    height: 30px;
}

.block_search img{
    filter: invert(100%);
    margin: 0 3px;
    cursor: pointer;
}

.block_search img:hover
{
    filter: invert(80%);
}

.block_search input:hover{
    filter: invert(20%);
}

.block_search input{
    background-color: inherit;
    outline: 0;
    outline-offset: 0;
    border: none;
    color: white;
}

.block_search input::placeholder{
    color: white;
}

/*pagination*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
.pagination li {
    margin: 0 12.5px;
}

.select-page,
.current-page{
    background-color: rgba(0, 0, 0, 0.17);
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.current-page {
    background-color: rgb(25, 148, 35);
    -webkit-box-shadow: 0 0 30px 0 rgb(25, 148, 35);
    -moz-box-shadow: 0 0 30px 0 rgba(25, 148, 35,1);
    box-shadow: 0 0 30px 0 rgba(25, 148, 35,1);
}

.pagination_block{
    display: flex;
    justify-content: center;
}

.block_slider_flex_center
{
    display: flex; justify-content: center
}

.block_text_content_slider{
    margin-top: 10px;
}

.block_text_content_slider p {
    margin: 0;
    font-size: 15px;
}

.button_post_form_navigate{
    border: none;
    margin: 5px 0;
    padding: 0 40px;
}

/**/

@media screen and (max-width: 515px) {
    .filter_modal_content{
        width: 95%;
    }

    .filter_modal_content input{
        height: 13px;
    }

    .filter_modal_content label{
        font-size: 13px;
    }
}

@media screen and (max-width: 461px) {
    .pagination li {
        margin: 0 5px;
    }
}
